* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1194px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.auth {
  margin-left: auto;
}

.search-form {
  margin-left: 76px;
  border-radius: 10px;
  display: flex;
  background: rgba(238, 238, 238, 0.71);
  max-width: 620px;
  flex-grow: 1;
  position: relative;
  
}

.shopping-cart {
  position: relative;
  text-decoration: none;
  width: 49px;
  height: 49px;
  background: #f66a15;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 30px;
}

.search-button {
  position: absolute;
  background: transparent;
  border: none;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  padding-right: 10px;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 99%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.login {
  background: #ebebeb;
  border-radius: 50px;
  display: block;
  text-decoration: none;
  padding: 16px 30px;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  
}
.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 8px;
  line-height: 9px;
  color: #000;
  background: #ffaf19;
  display: block;
  border-radius: 50%;
  padding: 5px;
}

.slide {
  position: relative;
  border-radius: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 100px;
  overflow: hidden;
  
}

.slide-content {
  max-width: 400px;
  position: relative;
}

.slide-text-light {
  background: grey;
  color: #fff;
}

.slide-title {
  padding-top: 0;
  margin: 0;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
}

.slide-text {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.button-primary {
  background: #f47322;
}

.button {
  display: inline-block;
  color: #fff;
  border-radius: 25px;
  padding: 12px 50px;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;

}


.slide-summer {
  background-image: url("../img/summer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-autumn {
   background-image: url("../img/autumn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-winter {
  background-image: url("../img/winter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.slide::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
   background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.promo {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  margin: -20px;
 
}

.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.button-default {
  background-color: #fff;
  color:  #5f5f61;
}

.card:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-text-light {
  flex: 50%;
  margin: 20px;
  color: #fff;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}
.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}

.card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}

.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}

.card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.section-title {
  margin-top: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 47px;
}

.delivery-week {
  padding: 100px 0;
}

.delivery-cards {
  display: flex;
  flex-wrap: wrap;
}

.delivery-card {
  margin: 9px;
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
}


.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.delivery-tag {
  content: "";
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  padding: 5px 10px;
}

.tag-health {
  background: #d0fd89;
}

.tag-veg {
  background: #aebc41;
  color: #fff;
}

.tag-meat {
  background: #b86b78;
  color: #fff;
}

.tag-poultry {
  background: #d68334;
  color: #fff;
}

.tag-fish {
  background: #cd6255;
  color: #fff;
}

.tag-kids {
  background: #fffdbf;
  color: #000;
}

.tag-parents {
  background: tomato;
  color: #000;
}

.section-grey {
  background: #f6f6f6;
}

.category {
  padding-top: 40px;
  padding-bottom: 60px;
}
.tabs-wrapper  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 20px;
}


.tabs-card {
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.tabs-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabs-image {
  max-width: 100%;
}

.tabs-card-content {
  padding: 23px;
}

.tabs-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}


.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}

.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 62px;
}

.tabs-link {
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  text-decoration: none;
  margin-right: 58px;
}

.tabs-link.active {
  color: tomato;
}


.tabs-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  display: block;
  margin-bottom: 5px;
}

.button-outline {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #f37321;
  box-sizing: border-box;
  border-radius: 33px;
  color: #f37321;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}


.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}
.footer {
  background: #f6f6f6;
  padding: 40px 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 50px;
}

.footer-link {
  font-size: 16px;
  line-height: 23px;
  color: #000;
  margin-right: 50px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}

.advantages {
  padding-top: 90px;
  padding-bottom: 125px;
}

.advantages-title {
margin-bottom: 50px;
  margin-top: 0;
font-weight: 500;
font-size: 32px;
line-height: 23px;
}

.advantages-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages-card {
max-width: 270px;
height: 299px;
background: #FFFFFF;
border: 1px solid #E9E9E9;
box-sizing: border-box;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;
overflow: hidden;
padding-top: 31px;
padding-bottom: 25px;
padding-left: 24px;
padding-right: 23px;

}

.advantages-card img {
 display: block;
  margin: auto;
  margin-bottom: 14px;
}

.advantages-title-content {
margin: 0;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #000000;
margin-bottom: 13px;
}

.advantages-content {
 margin: 0;
font-size: 14px;
line-height: 22px;
text-align: center;
color: #49494F;
}

swiper {
  position: relative;
}

.slider-buttons {
  position: absolute;
  right: 46px;
  bottom: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.slider-button {
  cursor: pointer;
}


@media(max-width: 1260px){
  .container {
    max-width: 960px;
  }
  
  .search-form {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .tabs-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .tabs-card {
    flex: 50%;
    max-width: calc(50% - 30px);
  }
  
  .advantages-wrapper {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  
  .advantages-card {
    flex: 50%;
    max-width: calc(50% - 30px);
  }

}

@media(max-width: 992px){
  .container {
    max-width: 750px;
  }
  
  .slide {
    padding: 70px;
  }
  
  .delivery-card {
    width: 50%;
     max-width: calc(50% - 30px);
  }
  
  .footer-logo {
    margin-right: 40px;
  }
}

@media(max-width: 768px){
  .container {
    max-width: 560px;
  }
  
  .header {
    flex-wrap: wrap;
  }
  
  .search-form {
    order: 5;
   margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  
  }
  
  .delivery-week {
    padding: 80px 0;
  }
  
  .promo {
    flex-wrap: wrap;
  }
  
  .button-outline {
    padding: 10px;
  }
}

@media(max-width: 576px){
  .container {
    max-width: 90%;
  }
  
  .slide-title {
    font-size: 30px;
    line-height: 41px;
  }
  
  .delivery-week {
    padding: 60px 0;
  }
  
  .delivery-card {
    width: 100%;
     max-width: calc(100% - 30px);
  }
  
  .delivery-cards {
    justify-content: center;;
  }
  
  .promo {
    padding-top: 40px;
  }
  
  .tabs-card {
    max-width: 100%;
  }
  
  .advantages {
    padding-bottom: 80px;
  }
  
  .advantages-card {
    flex: 100%;
    max-width: 100%;
    height: 100%;
  }
  
/*
  .slider-buttons {
    bottom: 55px;
  }
*/
  
  .footer-wrapper {
    flex-direction: column;
  }
  
  .social-links {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .footer-logo {
    margin-right: 0;
  }
  
  .footer-link {
    margin-right: 0;
  }
  
  .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .tabs {
    flex-direction: column;
  }
  
  .button-center {
    width: 215px;
  }
  
  .button {
    padding: 10px 40px;
    line-height: normal;
    font-size: 12px;
  }
}

.

